{% load partials static tz i18n %}

<!DOCTYPE html>
<html dir="auto" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        Django SSE4HTMX Example
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="TBD" />
    <meta name="author" content="Django SSE4HTMX" />
    {% block css %}
      <link href="{% static 'css/project.css' %}" rel="stylesheet" />
    {% endblock css %}

    {% block javascript %}
      {#      <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>#}
      {#      <script src="https://unpkg.com/htmx-ext-sse@2.2.2/sse.js" crossorigin="anonymous"></script>#}
      <script src="{% static 'js/htmx.js' %}"></script>
      <script src="{% static 'js/sse.js' %}"></script>
      <script src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </head>
  <body class="{% block bodyclass %}{% endblock bodyclass %}"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block body %}

      <div class="container" id="container--main">
        {% block main %}

          {% block content %}
            <p>Use this document as a way to quick start any new project.</p>
          {% endblock content %}

        {% endblock main %}
      </div>

    {% endblock body %}
  </body>
</html>
